:root{
    --body-background: #f9f9f9;
    --title:black;
    --primary:blue;
}
[data-theme="dark"]{
    --body-background: #121212;
    --title:white;
    --h2-color:white;
    --h3-color:white;
    --primary:red;
}
[data-theme="light"]{
    --body-background: #f9f9f9;
    --title:#555;
    --h2-color:#111;
    --h3-color:#555;
    --primary:blue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}